<div >
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLnk="/mobile" routerLinkActive="active">Mobile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pantry" routerLinkActive="active" type="submit"> Pantry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vegitable" routerLinkActive="active" >Vegitable </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="newReleas">NewReleas</a>
        </li>
      </ul>
</div>