<!-- CREATED BY : PRATIKSHA CHANDEL
     DATE : 10 JUNE 2020
      TOPIC COVERED : HTML 5 ELEMETS -->

<div >
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLnk="/mobile" routerLinkActive="active" type="submit">Mobile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pantry" routerLinkActive="active" type="submit"> Pantry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vegitable" routerLinkActive="active" type="submit">Vegitable </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="newReleas">NewReleas</a>
        </li>
      </ul>
</div>

<div id="wrapper" style="width : 1280px; height: 700px;">
<div id="banner" style="width: 1280px; height: 100px; backgraound-color: yellow;">Banner</div>
<div id="nav">Nav</div>
<div id="content"> content</div>
<div id="footer">Footer</div>
</div>
<!-- use html5 from element -->
<div>
  <form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
  </form>
</div>

<!-- Use if HTML5 Nested list element-->

<ul>
  <li>Coffee</li>
  <li>Tea
    <ul>
      <li>Black tea</li>
      <li>Green tea</li>
        <ul>
          <li>India</li>
          <li>Africa</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Milk</li>
  <li>Tea</li>
</ul>

<!-- Html form example assisement   -->
<form action=""  method="post">
  <title>
This is HTML5 From 
  </title>
  <table  width="410" height="94">
    <tr>
   <td width="108"> Name</td>
   <td>
     <input type="submit" size="10" maxlength="30">
   </td>
  </tr>
  <!-- HTML5 CHECKBOX ELEMET-->
  <tr><td>
    <td>
      <label>
        Choose vehicle option
      </label>
      </td>
    <input type="checkbox" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" name="vehicle3" value="Boat" checked>
    <label for="vehicle3"> I have a boat</label><br><br>
    <input type="submit" value="Submit">
    </td>
  </tr>

  <tr>
    <td width="108"> Email Address</td>
    <td>
      <input type="text" value="enter email Address">
    </td>
   </tr>
   <tr>
    <td width="108"> Password</td>
    <td>
      <input type="password">
    </td>
   </tr>
   <!-- use range picker -->
   <tr>
     <td>
       <label>
         please value from range
       </label>
       <label for="points">Points (between 0 and 10):</label>
<input type="range" id="points" name="points" min="0" max="10">
     </td>
   </tr>
   <!-- choose date -->
   <tr>
     <td>
       <label>
         choose the date
       </label>
       <input type="date" name="date" />
     </td>
   </tr>

   <tr>
    <td width="108"> Login to system </td>
    <td>
      <button> Submit</button>
    </td>
   </tr>

  </table>
</form>

<!-- HTML 5 progress element tag -->
<div> 
  <div>
     <label for="file">Downloading progress:</label>
     <progress id="file" value="32" max="100"> 32% </progress>
</div>
<div>
  <label for="file">Downloading progress:</label>
  <progress id="file" value="32" max="100"> 32% </progress>
</div>
</div>

<!-- html 5 color picker-->
<div>
    <from action="#" method ="post">
      <label>color</label>
      <input type="color" id="color" />
      <output id="colorOut"></output>
    </from>
</div>



<script>
   window.onload =function(){
        document.getElementById("color").addEventListener('click' , displayColor , false);
      }
      function displayColor(){
        document.getElementById('colorOut').innerHTML = document.getElementById('color').value;
      }
</script>
<!-- Redio button -->
<div>
  <form>
    <input type="radio" name="gender" id="male">
    <label for="male">Male</label>
    <input type="radio" name="gender" id="female">
    <label for="female">Female</label>
</form>
</div>