<!-- CREATED BY : PRATIKSHA CHANDEL
     DATE : 10 JUNE 2020
      TOPIC COVERED : HTML 5 ELEMETS -->


      

<p>mobile-view works!</p>
<!-- USE OF HTML5 table element -->
<div>
    <table style="width:100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>Pooja</td>
        <td>Smith</td>
        <td>30</td>
      </tr>
      <tr>
        <td>devid</td>
        <td>Jackson</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Kartik</td>
        <td>Shinde</td>
        <td>24</td>
      </tr>
      <tr>
        <td>Aruna</td>
        <td>Shinde</td>
        <td>27</td>
      </tr>
      <tr>
        <td>Kriti</td>
        <td>Roa</td>
        <td>28</td>
      </tr>
      <tr>
        <td>jilly</td>
        <td>Jackson</td>
        <td>34</td>
      </tr>
    </table>
  </div>