<!-- CREATED BY : PRATIKSHA CHANDEL
     DATE : 10 JUNE 2020
      TOPIC COVERED : HTML 5 ELEMETS -->


      

<p>mobile-view works!</p>
<!-- USE OF HTML5 table element -->
<div>
    <table style="width:100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>Pooja</td>
        <td>Smith</td>
        <td>30</td>
      </tr>
      <tr>
        <td>devid</td>
        <td>Jackson</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Kartik</td>
        <td>Shinde</td>
        <td>24</td>
      </tr>
      <tr>
        <td>Aruna</td>
        <td>Shinde</td>
        <td>27</td>
      </tr>
      <tr>
        <td>Kriti</td>
        <td>Roa</td>
        <td>28</td>
      </tr>
      <tr>
        <td>jilly</td>
        <td>Jackson</td>
        <td>34</td>
      </tr>
    </table>
  </div>

  <table style="width:100%; border-collapse:collapse; font:14px Arial,sans-serif;">
    <tr>
        <td colspan="2" style="padding:10px 20px; background-color:#acb3b9;">
            <h1 style="font-size:24px;">Tutorial Republic</h1>
        </td>
    </tr>
    <tr style="height:170px;">
        <td style="width:20%; padding:20px; background-color:#d4d7dc; vertical-align: top;">
            <ul style="list-style:none; padding:0px; line-height:24px;">
                <li><a href="#" style="color:#333;">Home</a></li>
                <li><a href="#" style="color:#333;">About</a></li>
                <li><a href="#" style="color:#333;">Contact</a></li>
            </ul>
        </td>
        <td style="padding:20px; background-color:#f2f2f2; vertical-align:top;">
            <h2>Welcome to our site</h2>
            <p>Here you will learn how to create websites...</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:5px; background-color:#acb3b9; text-align:center;">
            <p>copyright &copy; tutorialrepublic.com</p>
        </td>
    </tr>
</table>